<!DOCTYPE html>
<html>
  <head>
    <title>MoviWeb - 🎬 A Multi-User Movie Listing Web App!</title>
  </head>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    />
  <body>
    <header>
      <h2>🎬 MoviWeb</h2>
      <nav>
        {% block nav %}{% endblock %}
      </nav>
    </header>

    <main class="container">

      {% block content %}{% endblock %}

    </main>

    <footer>
      © 2026 MoviWeb. All rights reserved.
    </footer>
  </body>
</html>