<!DOCTYPE html>
<html>
  <head>
    <title>MoviWeb - 🎬 A Multi-User Movie Listing Web App!</title>
  </head>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    />
  <body>
    <header>
      <div class="site-logo">
        <h2 class="site-width">🎬 MoviWeb</h2>
      </div>
      <nav class="site-width">
        {% block nav %}{% endblock %}
      </nav>
    </header>

    <main class="container site-width">

      {% block content %}{% endblock %}

    </main>

    <footer>
      © 2026 MoviWeb. All rights reserved.
    </footer>
  </body>
</html>