{% extends 'base.html' %}

{% block content %}


<section class="card-list user-list">
  <h1>Users</h1>
  <ul>
    {% for user in users %}
    <li class="card">
      <h2>{{ user.name }}</h2>
      <a
          class="btn"
          href="{{ url_for('get_movies', user_id=user.id) }}"
      >
        View Movies
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

<section class="user-form card">
  <h2><label for="name">Add New User</label></h2>
  <form action="{{ url_for('create_user') }}" method="POST">
    <input required type="text" id="name" name="name" placeholder="User name"/>
    <input class="btn" type="submit" value="Add User"/>
  </form>
</section>
{% endblock %}