{% extends 'base.html' %}

{% block nav %}

<a href="{{ url_for('home') }}" class="breadcrumbs">← Back to Users</a>

{% endblock %}

{% block content %}

<section class="card-list movie-list">
  <h1>Movies for {{ user.name }}</h1>
  <ul>
    {% for movie in movies %}
    <li class="card">
      {% if movie.poster_url %}
      <img
          src="{{ movie.poster_url }}"
          alt="Poster for {{ movie.title }}"
      />
      {% endif %}
      <form>
        <input
            required
            type="text"
            id="title"
            name="title"
            value="{{ movie.title }}"
        />
        <input class="btn sm" type="submit" value="Update"/>
      </form>
      {% if movie.year %}
      <p class="movie-info">
        <span>Year:</span>
        <span>{{ movie.year }}</span>
      </p>
      {% endif %}
      {% if movie.director %}
      <p class="movie-info">
        <span>Director:</span>
        <span>{{ movie.director }}</span>
      </p>
      {% endif %}
      <form
          action="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id) }}"
          method="POST"
          onsubmit="return confirm('Are you sure you want to delete \'\'{{ movie.title }}\'\'?')"
      >
        <input class="btn sm delete" type="submit" value="Delete"/>
      </form>
    </li>
    {% endfor %}
  </ul>
</section>

<section class="movie-add-form">
  <form
      class="card"
      method="POST"
  >
    <h2><label for="title">Add New Movie</label></h2>
    <input
        required
        type="text"
        id="title"
        name="title"
        placeholder="Movie title"
    />
    <input
        type="text"
        id="year"
        name="year"
        placeholder="Year (optional)"
    />
    <input class="btn" type="submit" value="Add Movie"/>
  </form>
</section>

{% endblock %}